<h3>Dear moderator, </h3>
<p>you received new job post.</p>
<br />
<b>Job title:</b> 
<p><?php echo $this->title ?></p>

<b>Job Description:</b>
<p><?php echo $this->description ?></p>

To publish job please click <a href="<?php 
echo $this->publishUrl ?>" >here</a>. <br />

To mark job as spam please click <a href="<?php 
echo $this->spamUrl ?>" >here</a>. <br />
